<style>
    body{
        overflow: auto;
    }
    #myTable {
    width:300px;
}
    #customers {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    #customers td, #customers th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    
    #customers tr:nth-child(even){background-color: #f2f2f2;}
    
    #customers tr:hover {background-color: #ddd;}
    
    #customers th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #42A5F5;
      color: rgb(255, 255, 255);
    }
  
    </style>
<br>
<div class="container" >

<p-table [value]="secours" dataKey="libelle" id="customers" *ngIf="authService.isAdmin()" >
    <ng-template pTemplate="header" >
        <tr >
            
            <th style="width: 3rem"></th>

            <th pSortableColumn="libelle">Libelle <p-sortIcon field="libelle"></p-sortIcon></th>
            <th pSortableColumn="total">Total <p-sortIcon field="total"></p-sortIcon></th>

            <th pSortableColumn="ntx">NTX <p-sortIcon field="ntx"></p-sortIcon></th>
            <th pSortableColumn="ntc">NTC <p-sortIcon field="ntc"></p-sortIcon></th>
            
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="5" [style]="{'text-align': 'center'}">
                <div class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                  </div>
            </td>

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-avances let-expanded="expanded" >
        <tr>
            <td>
                <button type="button" (click)="buttonclick($event,avances.ntc)" pButton pRipple [pRowToggler]="avances" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
            </td>
            <td>{{avances.libelle}}</td>
            <td>{{avances.total}}</td>
            <td>{{avances.ntx}}</td>
            <td>{{avances.ntc}}</td>

        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-product>
        <tr>
            <td colspan="5">
                <div class="p-p-3">
                    <p-table  #dt [value]="secoursNtc" id="customers1" dataKey="numPc" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]" >
                        <ng-template pTemplate="header">
                            <tr>
                               
                                <th pSortableColumn="numPc">Numéro de PC                                                           <p-columnFilter type="text" field="numPc" display="menu"></p-columnFilter>
                                </th>
                                <th pSortableColumn="mlePoste">MlePoste <p-sortIcon field="mlePoste" ></p-sortIcon></th>
                                <th pSortableColumn="montant">Montant <p-sortIcon field="montant"></p-sortIcon></th>
                               
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-secoursNtc>
                            <tr>
                                <td>{{secoursNtc.numPc}}</td>
                                <td>{{secoursNtc.mlePoste}}</td>
                                <td>{{secoursNtc.montant}}</td>
                               
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="5" [style]="{'text-align': 'center'}">
                                    <div class="spinner-border text-primary" role="status">
                                        <span class="sr-only">Loading...</span>
                                      </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </td>
        </tr>
    </ng-template>
   
  
</p-table></div>